<!DOCTYPE html>
<html>
<header>

    <title>Shopping List App</title>

    <link href="{{ url_for('static', filename='css/index.css') }}" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oleo Script" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie Flower" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows Into Light" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing Script" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" type="text/css" rel="stylesheet">
</header>

<body>
    <div>
        <nav>
          <ul id="logo">
            <a href="index.html"><li id="logo_txt">Shopping List App</li></a>
          </ul>
          <ul id="navbtn">
            <a href="index.html"><li id="home">Home</li></a>
            <a href= #><li id="User">Profile</li></a>
            <a href="login.html"><li id="signup">Log Out</li></a>
          </ul>
      </nav>
    </div>
    <div>
        <ul id="navbtn2">
            <!-- clic to create a new bucket list -->
            <a href="#"><li id="get_started">Start Shopping</li></a>
            <!-- click to view bucket list -->
            <a href="#"><li id="my_shopping_list">My Shopping list</li></a>
        </ul>
    </div>
    <div class="footer">
        <p id="slogan">Shopping made convenient...</p>
    </div>
</body>

</html>
