<!DOCTYPE html>
<html>
<header>

    <title>Shopping List App</title>
    <link href="D:\Andela\Shopping List App\Shopping-List-App\app\static\css\login.css" type="text/css" rel="stylesheet">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oleo Script" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie Flower" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows Into Light" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing Script" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" type="text/css" rel="stylesheet">
</header>

<body>
    <div>
        <nav>
          <ul id="logo">
            <a href="index.html"><li id="logo_txt">Shopping List App</li></a>
          </ul>
          <ul id="navbtn">
            <a href="index.html"><li id="home">Home</li></a>
            <a href="login.html"><li id="login">login</li></a>
            <a href="signup.html"><li id="signup">Sign Up</li></a>
          </ul>
      </nav>
    </div>
    <div class="content">
        <div class="jumbotron">
            <form class="form-signin">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        
                <a href="index.html"><button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button" button type="button|submit|reset" >login</button> </a>
            </form>
        </div>
    </div>
    <div class="footer">
        <p id="slogan">Shopping made convenient...</p>
    </div>
</body>

</html>